<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Private Area</title>

</head>
<body>

<div class="container">
  <p th:text="|Hello ${userName}!|" onclick="document.forms['logoutForm'].submit()">Logout</p>
  <form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
  </form>

  <form th:action="@{/customers/{id}(id=${customer?.getId()})}" method="post" th:Object="${customer}">
    <button type="submit">Delete</button>
  </form>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>