.btn2 {
    display: inline-block;
    box-sizing: border-box;
    padding: 1px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #F18230;
    border-radius: 25px;
    height: 46px;
    line-height: 0;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn2 span {
    display: block;
    box-sizing: border-box;
    padding: 0 25px;
    height: 42px;
    line-height: 38px;
    border: 1px solid #F18230;
    border-radius: 25px;
    font-size: 14px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F18230;
    text-align: center;
    font-weight: 600;
}
.btn2:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn2:hover span {
    background-color: #fba768
}
.btn2:active span {
    background-color: #c17237 !important;
}
.btn2:disabled {
    opacity: 0.65;
    pointer-events: none;
}


.btn1 {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}
.btn1:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}
.btn1:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn1:active {
    background-color: #808080;
}
.btn1:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
}

.btn3 {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: lightskyblue;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}
.btn3:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}
.btn3:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn3:active {
    background-color: #808080;
}
.btn3:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
}



.btn4 {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: lightgreen;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}
.btn4:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}
.btn4:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn4:active {
    background-color: #808080;
}
.btn4:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
}




form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

.button-create {
    background-color: forestgreen;
    color: white;
    padding: 14px 20px;
    margin:0 auto;
    border: none;
    cursor: pointer;
    width: 20%;
}


.btn-back {
    background-color: dodgerblue;
    color: white;
    padding: 10px 15px;
    /*margin: auto;*/
    margin-left: auto;
    border: none;
    cursor: pointer;
    width: 5%;
}

/* Add a hover effect for buttons */
.button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.btn {
    width: auto;
    padding: 5px 13px;
    color: black;
    background-color: white;
}

.btn-year {
    color: black;
    padding: 3px 5px;
    margin-left: auto;
    border: none;
    cursor: pointer;
    width: 5%;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .btn {
        width: 100%;
    }
}


.resp-tab {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 50%;
    max-width: 50%;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2 );
    margin: auto;
}
.resp-tab td, .resp-tab th {
    text-align: center;
    padding: 8px;
    font-size: 15px;
    border: none;
    font-family: Verdana, sans-serif;
}
.resp-tab td {
    font-size: 13px;
    border-right: 1px solid #E6E4E4;
}
.resp-tab th {
    color: #ffffff;
    background: #2d6b9f;
}
.resp-tab th:nth-child(odd) {
    background: #337AB7;
}
.resp-tab tr:nth-child(even) {
    background: #F8F8F8;
}
@media (max-width: 767px) {
    .resp-tab {
        display: block;
        width: 100%;
    }
    .resp-tab thead,
    .resp-tab tbody,
    .resp-tab thead th {
        display: block;
    }
    .resp-tab thead {
        float: left;
    }
    .resp-tab tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .resp-tab td, .resp-tab th {
        padding: 10px 2px;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 160px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .resp-tab thead th {
        text-align: center;
    }
    .resp-tab tbody tr {
        display: table-cell;
    }
    .resp-tab tbody tr:nth-child(odd) {
        background: none;
    }
    .resp-tab tr:nth-child(even) {
        background: transparent;
    }
    .resp-tab tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .resp-tab tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .resp-tab td {
        display: block;
        text-align: center;
    }
}

.text-center{
    text-align: center;
}
